<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../meetUs.css">
    <link rel="stylesheet" href="../fontawesome-free-6.5.1-web/css/all.css">
</head>
<body>
    <div id="top"></div>
    <nav>
        <div class="navItemsContainer">
            <div class="logoContainer">
                <li>
                    <a href="../index.html">
                        <img class="logo" src="../assets/download-removebg-preview (8).png" alt="developers ethiopia logo">
                        <p>Developers Ethiopia</p>
                    </a>
                </li>
            </div>
            <div class="navLinksContainer">
                <div class="hamburgerContainer">
                    <!-- <button class="hamburger">
                        <svg xmlns="http://www.w3.org/2000/svg" height="25" width="30" viewBox="0 0 496 512"><path fill="#dcdcdc" d="M248 8C111 8 0 119 0 256S111 504 248 504 496 393 496 256 385 8 248 8zM363 176.7c-3.7 39.2-19.9 134.4-28.1 178.3-3.5 18.6-10.3 24.8-16.9 25.4-14.4 1.3-25.3-9.5-39.3-18.7-21.8-14.3-34.2-23.2-55.3-37.2-24.5-16.1-8.6-25 5.3-39.5 3.7-3.8 67.1-61.5 68.3-66.7 .2-.7 .3-3.1-1.2-4.4s-3.6-.8-5.1-.5q-3.3 .7-104.6 69.1-14.8 10.2-26.9 9.9c-8.9-.2-25.9-5-38.6-9.1-15.5-5-27.9-7.7-26.8-16.3q.8-6.7 18.5-13.7 108.4-47.2 144.6-62.3c68.9-28.6 83.2-33.6 92.5-33.8 2.1 0 6.6 .5 9.6 2.9a10.5 10.5 0 0 1 3.5 6.7A43.8 43.8 0 0 1 363 176.7z"/></svg>
                    </button> -->
                  
                </div>
                <ul>
                    <!-- <button class="close">
                        <svg xmlns="http://www.w3.org/2000/svg" height="25" width="30" viewBox="0 0 496 512"><path fill="#dcdcdc" d="M248 8C111 8 0 119 0 256S111 504 248 504 496 393 496 256 385 8 248 8zM363 176.7c-3.7 39.2-19.9 134.4-28.1 178.3-3.5 18.6-10.3 24.8-16.9 25.4-14.4 1.3-25.3-9.5-39.3-18.7-21.8-14.3-34.2-23.2-55.3-37.2-24.5-16.1-8.6-25 5.3-39.5 3.7-3.8 67.1-61.5 68.3-66.7 .2-.7 .3-3.1-1.2-4.4s-3.6-.8-5.1-.5q-3.3 .7-104.6 69.1-14.8 10.2-26.9 9.9c-8.9-.2-25.9-5-38.6-9.1-15.5-5-27.9-7.7-26.8-16.3q.8-6.7 18.5-13.7 108.4-47.2 144.6-62.3c68.9-28.6 83.2-33.6 92.5-33.8 2.1 0 6.6 .5 9.6 2.9a10.5 10.5 0 0 1 3.5 6.7A43.8 43.8 0 0 1 363 176.7z"/></svg>
                    </button> -->
                    <li class="navLink mainNavLink subNavLink">
                        <a href="../index.html">Home</a>
                    </li>
                    <li class="navLink mainNavLink subNavLink">
                        <a href="#top">Meet the team</a>
                    </li>
                    <li class="navLink mainNavLink subNavLink">
                        <a href="#">Projects</a>
                    </li>
                    <li class="navLink mainNavLink  contactUs">
                        <a href="#">Contact Us</a>
                    </li>
                    <li class="menu" onclick=showSideBar()>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 448 512"><path fill="#000000" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navItemsContainer sideBar">
            <div class="navLinksContainer">
                <div class="hamburgerContainer">
                    <!-- <button class="hamburger">
                        <svg xmlns="http://www.w3.org/2000/svg" height="25" width="30" viewBox="0 0 496 512"><path fill="#dcdcdc" d="M248 8C111 8 0 119 0 256S111 504 248 504 496 393 496 256 385 8 248 8zM363 176.7c-3.7 39.2-19.9 134.4-28.1 178.3-3.5 18.6-10.3 24.8-16.9 25.4-14.4 1.3-25.3-9.5-39.3-18.7-21.8-14.3-34.2-23.2-55.3-37.2-24.5-16.1-8.6-25 5.3-39.5 3.7-3.8 67.1-61.5 68.3-66.7 .2-.7 .3-3.1-1.2-4.4s-3.6-.8-5.1-.5q-3.3 .7-104.6 69.1-14.8 10.2-26.9 9.9c-8.9-.2-25.9-5-38.6-9.1-15.5-5-27.9-7.7-26.8-16.3q.8-6.7 18.5-13.7 108.4-47.2 144.6-62.3c68.9-28.6 83.2-33.6 92.5-33.8 2.1 0 6.6 .5 9.6 2.9a10.5 10.5 0 0 1 3.5 6.7A43.8 43.8 0 0 1 363 176.7z"/></svg>
                    </button> -->
                  
                </div>
                <ul>
                    <li class="close" onclick=hideSideBar()>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" height="25" width="25" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                        </a>
                    </li>
                    <li class="navLink">
                        <a href="../index.html">Home</a>
                    </li>
                    <li class="navLink">
                        <a href="#top">Meet the team</a>
                    </li>
                    <li class="navLink">
                        <a href="#">Projects</a>
                    </li>
                    <li class="navLink">
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container-1">
            <h5>Meet the team</h5>
        </div>
        <div>
            <p class="title-1">BY STUDENTS,<br>FOR STUDENTS ALWAYS</p>
        </div>
        <hr class="line">
        <div class="description">
            <div class="description-1">BY STUDENTS, FOR STUDENTS ALAWAYS, WITH THIS MOTO WE'VE BEEN OPERETING SINCE
                2023.</div>
            <div class="description-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi ad nam impedit
                ipsum? Ipsam, officiis sapiente ipsum aperiam qui alias?<br><span>Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Temporibus aperiam itaque nemo at ipsum, quas facere repellendus dicta enim
                    officiis!</span>
            </div>
        </div>
        <div class="card-section">
            <div class="card-team">
                <div class="card-icon-1">
                    <a href=""><i class="fa-brands fa-telegram icon"></i></a>
                    <a href=""><i class="fa-brands fa-instagram icon"></i></a>
                    <a href=""><i class="fa-brands fa-github icon"></i></a>
                </div>
                <div>
                    <p class="card-team-description">Click on the arrow below to see the next school team</p>
                </div>
                <div>
                    <div>
                        <h5 class="card-team-name">ICS Team</h5>
                    </div>
                    <div class="arrows">
                        <i class="fa-solid fa-less-than"></i>
                        <i class="fa-solid fa-greater-than"></i>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="../assets/1000_F_338308078_iiXC8b9lxpxmjGKaKu4dtXHSIVfzE8qm.jpg" alt=""></div>
                <div class="card-description">
                    <h5 class="card-name">Yonathan Abera</h5>
                    <span>
                        <h3>Founder and Developer</h3>
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="../assets/1000_F_338308078_iiXC8b9lxpxmjGKaKu4dtXHSIVfzE8qm.jpg" alt=""></div>
                <div class="card-description">
                    <h5 class="card-name">Joshua Busia</h5>
                    <span>
                        <h3>Developer</h3>
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="../assets/1000_F_338308078_iiXC8b9lxpxmjGKaKu4dtXHSIVfzE8qm.jpg" alt=""></div>
                <div class="card-description">
                    <h5 class="card-name">Menelik Yared</h5>
                    <span>
                        <h3>Developer</h3>
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="../assets/1000_F_338308078_iiXC8b9lxpxmjGKaKu4dtXHSIVfzE8qm.jpg" alt=""></div>
                <div class="card-description">
                    <h5 class="card-name">Euncahn Hwang</h5>
                    <span>
                        <h3>Developer</h3>
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="../assets/1000_F_338308078_iiXC8b9lxpxmjGKaKu4dtXHSIVfzE8qm.jpg" alt=""></div>
                <div class="card-description">
                    <button class="card-name">Rodi W/Yesus</button>
                    <span>
                        <h3>Developer</h3>
                    </span>
                </div>
            </div>
        </div>


        <footer>
            <section class="foot">

                <div class="name">
                    <p>Developers Ethiopia, 2023</p>
                </div>

                <div class="copy">
                    <p>All rights resreved</p>
                </div>

                <div class="link">
                    <a href="https://t.me/developersethiopia2023">
                        <i class="fa-brands fa-telegram icon"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-instagram icon"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-github icon"></i>
                    </a>

                </div>

            </section>
        </footer>
    </section>
</body>
</html>