@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto:wght@500&display=swap');
.our-teams{
    background-color: #EEF5DB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}
.our-teams .green{
    color: #093A3E;
}
.our-teams img:not(.image > img){
    margin: 20px 10px;
}
.our-teams .ics-ot{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px;
    padding: 0 7%;
}
.our-teams .ics-ot .header{
    font-size: 40px;
    font-weight: 600;
}
.our-teams .ics-ot .ics-team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-teams .images{
    display: flex;
    width: 100vw;
}
.our-teams .images .image{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.our-teams .images .image:hover img{
    transform: scale(1.1);
}
.our-teams .images .image *{
    transition: all 400ms ease-in-out;
}
.our-teams .images .image .dimmer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 30px;
    color: white;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-teams .images .image .dimmer:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.our-teams .teams{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
}
.our-teams .team{
    padding: 40px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.our-teams .vert{
    height: 400px;
    width: 1px;
    background-color: rgb(30, 30, 30);
    margin: 0 40px;
}