* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #EEF5DB;
    align-items: center;
}

#topImages{
    position: relative;
    text-align: center;
    color: white;
}

#icsImg{
    width: 100%;
    height: 30%;
}

.teamInfo{
    width: 45%;
    height: 130%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#our{
    width: 150px;
    flex-shrink: 0;
    display: inline-block;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    align-self: center;
}

#CEO{
    float: left;
}

#CEOProfilePic{
    width: 286px;
    height: 305px;
}
.profilePic{
    flex-shrink: 0;
    border-radius: 305px;
    background: url(../assets/ICSAddisababa+Picture2.jpg), lightgray -22.774px 2.62px / 111.921% 150.246% no-repeat, #E0E0E0;
}

#teamPart1{
    align-items: center;
    float: right;
}

#o{
    width: 169px;
    height: 169px;
}



#divider{
    width: 4px;
    height: 574px;
    background: black;
    align-self: center;
    position: absolute;
}

#developerTeam{
    float: right;
    margin-top: 20px;
    margin-right: 110px;
}

#teamPart1{
    width: 300px;
    border: 2px solid;

}
#teamPart2{
    width: 300px;
    border: 2px solid;

}

.role{
    color: #093A3E;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
