*{
  transition: all 0.3s;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.main-gallery {
  display: flex;
  margin: 40px 30px 0px 40px;
  gap: 50px;
  justify-content: center;
  height: max-content;
  min-height: max-content;
}
.sub-text {
  font-size: 23px;
  height: 100%;
  font-weight: 100;
  color: rgb(99, 97, 97);
  display: flex;
  padding-left: 10px;
  align-items: center;
}

.gallery-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  padding: 0px 0px 0px 20px;
}
.big-gallery {
  font-weight: 370;
  font-size: 60px;
}
.gallery-pic {
  padding-top: 10px;
}
.gallery-pic > img {
  width: 600px;
  box-shadow: 12px 21px 44px #b6b5b5;
  height: calc(154px + 72px + 20px);
  object-fit: cover;
}
.projects-grid {
  height: 160px;
}
.gridhold {
  display: flex;
  margin-top: 30px;
  align-items: center;
  height: max-content;
  margin-bottom: 25px;
}
.projects-grid {
  display: grid;
  width: 100%;
  height: max-content;
  grid-template-columns: 270px 270px 270px;
  margin-top: 40px;
  margin-left: 20px;
  justify-content: space-around;
}
#proj {
  display: flex;
  flex-direction: column;
  height: 325px;

  padding: 50px 50px 0px 13px;
  gap: 30px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
#tag {
  font-size: 19px;
  height: 20px;
}
#projtit {
  height: 60px;
  width: min-content;
  font-size: 27px;
  font-weight: 550;
}
#more {
  margin-top: 10px;
  font-size: 18px;
  height: 40px;
}
.hr {
  width: 100%;
  height: 2px;
  background-color: black;
}
.ccc:hover {
  background-image: var(--two);
}
#proj:hover {
  color: white;
  transform: scale(1.02);
  cursor: pointer;
}
#proj:hover > .hr {
  background-color: white;
}
#proj:hover > #more > #more-icon {
  display: none;
}
.mary:hover {
  background-image: var(--three);
}
.mekd:hover {
  background-image: var(--one);
}
#more {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-gallery {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  color: #636161;
  padding: 0px 230px 0px 110px;
  margin-bottom: 10px;
}
#proj:hover > .material-symbols-outlined {
  color: white;
}
.clickedprojects {
  color: white;
}
.clickedprojects > .hr {
  background-color: white;
}
.socials > *:hover {
  cursor: pointer;
  fill: black;
}
.closeclick {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#xbtn {
  display: none;
  cursor: pointer;
}
