.vision-section{
    height: 130vh;
    background-color: #EEF5DB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    cursor: pointer;
}
.vision-section .card-container{
    padding: 10px;
}
.vision-section .card-container.four-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.vision-section .card-container.big-card .logo{
    height: 50px;
}
.vision-section .card-container.big-card .logo img{
    height: 100%;
}
.vision-section .card-container.big-card .card{
    display: flex;
    flex-direction: column;
    padding: 25px 35px;
    background-color: white;
}
.vision-section .card-container.big-card .card .header{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.vision-section .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12.5px 0;
}
.vision-section .info .text{
    font-size: 18px;
}
.vision-section .icons{
    justify-content: center;
}
.vision-section .icons > .icon{
    margin: 5px 10px;
}
.vision-section .picture{
    width: 90%;
    margin: 40px 10px;
    align-self: center;
    overflow: hidden;
}
.vision-section .picture > img{
    width: 100%;
}
.vision-section .four-cards .card{
    width: 300px;
    height: 380px;
    margin: 15px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: ease-in-out 200ms;
}
.vision-section .four-cards .card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.vision-section .four-cards .card .header{
    font-size: 22px;
    font-weight: 500;
    align-self: start;
}
.vision-section .four-cards .card .header .text{
    width: 50px;
}
.vision-section .four-cards .card .body{
    font-size: 16px;
    font-weight: 500;
}
.dark{
    background-color: #093A3E;
    color: white;
}
.light{
    background-color: #FFF;
}